@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
/* CSS Document */
/* CHAT BOTTEN HER */
/* containeren rundt om chatbot */
.container {
	display: none; /* er skjult by default - bliver hentet med javascript */
    width: 320px;
    min-height: 450px;
    border-radius: 1em;
    box-shadow: 1px 0.5px 5px 0.5px grey;
    margin-left: 50px;
    margin-top: 50px;
    background: #ebebeb;
	position: absolute;
	right: 50px;
	bottom: 100px;
	position: fixed;
	animation: chatbot 0.7s;
	z-index: 2;
}


/* Dette for chatbot til at poppe frem fra 0.5 i scale til 1 i scale */
@keyframes chatbot {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
	
		/* velkommen til praktikguiden */
		.velkomstTekst {
			max-width: 250px;
			margin: 0 auto;
			color: black;
			border-bottom: 1px solid grey;
			padding-bottom: 20px;
			font: 15px open sans;
		}
		.velkomstTekst h1 {
			margin: 10px;
			text-align: center;
		}
		/* Selve chatbot delen */
.box {
 margin: 0 auto;
}
/* maskot billede i chatbot */ 
.box img {
	height: 220px;
	width: auto;
	position: absolute;
	padding: 10px;
	
}
/* chatbot h1 */
.box h1 {
    max-width: 200px;
    margin: 0 auto;
    color: white;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-family: open sans;
}

/* input feltet */
input {
    margin-left: 2.5em;
    padding: 5px;
    width: 150px;
	max-width: 250px;
			
			color: black;
			font: 15px open sans;
}
/* submit knappen */
#submit {
    padding: 5px;
}
/* teksten i chatbot */
.textbox {
    max-width: 300px;
    margin: 10px;
	margin-left: 6.5em;
	
}

#textfelt{
	
	margin: 10px;
	margin-left: 6.5em;
}
#magictekst {
    padding: .5em;
    height: auto;
    min-height: 80px;
    
    border-radius: 1em;
    padding-top: 10px;
	font: 15px open sans;
	max-width: 250px;
	margin: 0 auto;
	color: black;
	font: 15px open sans;
}
		/* knappen til chatbot popup */
		button {
			background: #D3D3D3;
			border: none;
			cursor: pointer;
			border-radius: 50%;
			width: 55px;
			height: 55px;
			position: absolute;
			right: 20px;
			bottom: 20px;
			position: fixed;
		}
		button .material-icons {
			vertical-align: middle;
		}
