@charset "utf-8";
/* CSS Document */
*, *::before, *::after {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background: white;
}
header {
  text-align: center;
  z-index: 999;
	
  width: 100%;
	box-shadow: 1px 1px 5px 1px grey;
}

/* Dette er header billedet */
.hero-image {
	background-image: url("../images/Uddannelse/uddannelse.png");
	background-size: contain;
	width: 1000px;
	height: 70vh;
	resize: both;
	margin: 0 auto;
	background-position: center center;
	background-repeat: no-repeat;
}
@media screen and (max-width: 760px){
	.hero-image {
		width: 500px;
		height: 50vh;
	}
}
/* h1 teksten der står på header billedet */
.hero-h1 {
	font-size: 5em;
	max-width: 900px;
	padding-top: 250px;
}
/* Menu kassen der fixed sidder i siden */
aside {
	position: fixed;
	background: grey;
	width: 100px;
	height: auto;
	text-align: center;
	outline: 1px solid gray;
	box-shadow: 1px 2px 1px 1px gray;
	line-height: 1.5;
	
}
aside a {
	text-decoration: underline;
	color: black;
	font-size: 1em;
	margin: 10px;
}
/* ============== */

/* Dette er til når skærmen er under 760px, så går vi ned til 1 column til telefon view */
.content {
	padding-top: 70px;
	display: grid;
	grid-template-columns: 100px 1fr 1fr 20px;
	grid-auto-rows: auto;
	grid-gap: 10px;
	grid-template-areas: 
		"aside a a"
		"aside b b"
		"aside c c"
		"aside d d"
		"aside e e"
		"aside f f"
		"aside g g"
		"aside h h"
		"aside i i"
		"aside j j"
		"aside k k"
		"aside l l";
		
}
/* Her sørger vi får at der kommer 2 columns når skærmen er mindst 760 px stor */
@media screen and (min-width: 760px){
.content {
	display: grid;
	grid-template-columns: 100px 2fr 2fr 50px;
	grid-auto-rows: auto;
	margin: 0 auto;
	grid-template-areas: /* Hvis der bliver tilføjet flere kasser i html, husk at tilføje i grid-area sektion, og tilføj herunder i grid-template-area også, så der er styr på hvordan det hele ser ud*/
		"aside a b ."
		"aside c d ."
		"aside e f ."
		"aside g h ."
		"aside i j ."
		"aside k l .";
		
}
	}
/* Dette er blot midlertidigt så man kan se kasserne i content */
.item {
	background-color: white;
	box-shadow: 1px 2px 2px 1px gray;
}

/* ======== */
/* Her rammes classerne i content diven, så vi kan bygge griddet */
/* Hvis man tilføjer flere kasser i htmlen - husk derfor at tilføje dem herunder også. */
.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;} 
.g {grid-area: g;} 
.h {grid-area: h;} 
.i {grid-area: i;} 
.j {grid-area: j;} 
.k {grid-area: k;}
.l {grid-area: l;}
aside { grid-area: aside;}
/* ====== */

.a img, .d img {
	height: 200px;
	width: auto;
	
	
}
.item.a, .item.d{
	text-align: center;
}
footer {
	background: #E1E0DB;
	height: 150px;
	margin-top: 40px;
}

