@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
/* CSS Document */
/* Dette er header billedet */
body{
	font-family: 'Open Sans', sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.hero-image {
	background-image: url("../images/Legat/legat.png");
	background-size: cover;
	width: auto;
	height: 100vh;
	resize: both;
	margin: 0 auto;
	background-position: right right;
	background-repeat: no-repeat;
	top: 0;
}
.hero-h1 {
	
	position: absolute;
	top: 350px;
	left:20%;
	font: 5em open sans;
	
}
.hero-h2 {
	font-family: 'CustomFont', blankid;
	font-weight:normal;
	font-style:normal;
	font-size: 4em;

	position: absolute;
	top: 450px;
	left:20%;
	
}

@media screen and (max-width: 760px){
	.hero-image {
		width: 500px;
		height: 50vh;
	}
}


/* Dette er til når skærmen er under 760px, så går vi ned til 1 column til telefon view */
.content {
	padding-top: 70px;
	display: grid;
	grid-template-columns: 100px 1fr 1fr 20px;
	grid-auto-rows: auto;
	grid-gap: 10px;
	grid-template-areas: 
		"aside a a"
		"aside b b"
		"aside c c"
		"aside d d"
		"aside e e"
		"aside f f"
		"aside g g"
		"aside h h"
		"aside i i"
		"aside j j"
		"aside k k"
		"aside l l"
		"aside m m"
		"aside n n"
		"aside o o"
		"aside p p"
		"aside q q"
		"aside r r"
		"aside s s"
		"aside t t"
		;
		
}
/* Her sørger vi får at der kommer 2 columns når skærmen er mindst 760 px stor */
@media screen and (min-width: 760px){
.content {
	display: grid;
	grid-template-columns: 100px 2fr 2fr 50px;
	grid-auto-rows: auto;
	margin: 0 auto;
	grid-template-areas: /* Hvis der bliver tilføjet flere kasser i html, husk at tilføje i grid-area sektion, og tilføj herunder i grid-template-area også, så der er styr på hvordan det hele ser ud*/
		"aside a b ."
		"aside c d ."
		"aside e f ."
		"aside g h ."
		"aside i j ."
		"aside k l ."
		"aside m n ."
		"aside o p ."
		"aside q r ."
		"aside s t ."
		;
		
}
	}


/* ======== */
/* Her rammes classerne i content diven, så vi kan bygge griddet */
/* Hvis man tilføjer flere kasser i htmlen - husk derfor at tilføje dem herunder også. */
.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;} 
.g {grid-area: g;} 
.h {grid-area: h;} 
.i {grid-area: i;} 
.j {grid-area: j;} 
.k {grid-area: k;}
.l {grid-area: l;}
.m {grid-area: m;}
.n {grid-area: n;}
.o {grid-area: o;}
.p {grid-area: p;}
.q {grid-area: q;}
.r {grid-area: r;}
.s {grid-area: s;}
.t {grid-area: t;}
aside { grid-area: aside;}
/* ====== */

.a img, .d img {
	height: 200px;
	width: auto;
	
	
}
.item.a, .item.d{
	text-align: center;
}
footer {
	background-color: lightgray;
	height: 150px;
	margin-top: 40px;
}

